
.search-container{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 85%;
    margin: 60px auto;
}

.search-content{
    width: 400px;
    margin-bottom: 20px;
}
.search-content:nth-child(1){
    width: 700px;
    margin-bottom: 20px;
}

.search-content h2{
    position: relative;
    margin-bottom: 20px;
}

.search-content h2::after{
    position: absolute;
    content: "";
    background-color: #12505f;
    height: 4px;
    width: 20%;
    top: -10px;
    left: 0;
}
.search-content p{
    line-height: 25px;
    padding-bottom: 15px;
    text-align: justify;
}

.search-content h3{
    color: #12505f;
    padding-bottom: 10px;
}

.search-content h4{
    color: #12505f;
    margin-top: 20px;
    padding-bottom: 10px;
}

.ref-content p{
    font-size: 14px;
    padding-bottom: 10px;
    color: #2c2c2c;
    padding-left: 15px;
}

.search-content span{
    color: #12505f;
    font-weight: 600;
    margin-top: 30px;
}

.search-content form{
    display: flex;
    flex-direction: column;
}

.search-content form input{
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 30px 15px;
    outline-color: #12505f;
    border: 1px solid #CCC;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
}
.search-content form input::placeholder,
.search-content form textarea::placeholder{
    color: #12505f;
    font-weight: 600;
}

.search-content form textarea{
    width: 360px;
    max-width: 360px;
    min-width: 360px;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
    margin-bottom: 20px;
    padding: 30px;
    outline-color: #12505f;
    border: 1px solid #CCC;
    color: #000000;
    cursor: pointer;
}
.search-content form button{
    background-color: #12505f;
    border: 0;
    padding: 15px;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}
.search-infor{
    position: relative;
}
.search-infor i{
    position: absolute;
    left: 8px;
    top: 15px;
    color: #12505f;
}